{% extends "SiteKidoikoiakiBundle::layout.html.twig" %}

{% block title %}{{ event.titre }} - Participants{% endblock %}

{% block body %}
		{% if persons is not empty  %}
		<h1 class="h2 blue">Liste des participants</h1>
			<table class="table table-striped">
				<thead>
					<th><strong>Prénom</strong></th>
					<th><strong>Nom</strong></th>
					<th><strong>Email</strong></th>
					<th><strong>Part par défaut</strong></th>
				</thead>
				<tbody>
					{% for person in persons %}
						<tr>
							<td>{{ person.prenom }}</td>
							<td>{{ person.nom }}</td>
							<td>{{ person.email }}</td>
							<td>{{ person.partdefaut }}</td>
							<td>
							{% if person.can_be_deleted == TRUE %}
								<a href="{{ path('site_kidoikoiaki_delete_participant', {'token': token, 'participant_id': person.id}) }}" class="btn btn-danger">Supprimer</a>
							{% endif %}
							</td>
							</tr>
					{% endfor %}
				</tbody>
			</table>
			<hr>
		{% endif %}
        
		<h2 class="h3 blue">Ajouter un participant</h2>
		{{ form(form) }}
{% endblock %}